/* Grid Structure */
.container {
    margin: 0 auto;
    width:90%;
    max-width: 1200px;
    min-width: 320px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
.column {
    float: left;
    margin-left: 5%;
    padding: 5%;
    }
.column:first-child {
    margin-left: 0;
    }
.column.full {
    width: 100%;
    }
.column.two-thirds {
    width: 65%;
    }
.column.half {
    width: 47.5%;
    }
.column.one-third {
    width: 30%;
    }
.column.one-fourth {
    width: 21.25%;
    }
.nopadding {
    padding: 0;
    }

/* Create Rows */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    }

.clearfix:after {
    clear: both;
    }

.clearfix {
    *zoom: 1;
    }



/* Responsive Images */
img {
    max-width:100%;
    display:block;
}


/* Media Queries */

@media screen and (max-width: 640px) {
    .column.full,
    .column.two-thirds,
    .column.half,
    .column.one-third,
    .column.one-fourth {
    float: none;
    margin: 0;
    width: 100%;
    }
}

@media (max-width: 400px){

    nav li {
    width: 100%;
    display:inline;
    float:left;
}
}